/* PC */
@media (min-width: 1024px) {

}

/* Tablet and Mobile */
@media (max-width: 1023px) {
    .btn {
        padding: 15px 16px;
    }
    
    #nav .subnav a {
        padding: 5px 12px;
    }

    .contact-form .form-control {
        padding: 15px;
        font-size: 16px;
    }

    .socials-list {
        font-size: 48px;
    } 

    .contact-submit-btn {
        font-size: 17px;
    }

    #footer .socials-list a {
        margin: 0 8px;
    }

    #footer .copy-right a{
        padding: 12px 0;
        display: inline-block;
    }
}

/* Tablet */
@media (min-width: 740px) and (max-width: 1023px) {
    .contact-info {
        line-height: 2;
    }

}

/* Mobile */
@media (max-width: 739px) {
    .s-col-full ,
    .s-full-width {
        width: 100%!important;
    }

    .s-mt-16 {
        margin-top: 8px!important;
    }


    #header {
        overflow: hidden;
    }
    
    #header .mobile-menu-btn {
        display: block;
    }

    #header .search-btn {
        display: none;
    }

    #nav {
        display: block;
    }
    
    #nav > li {
        display: block;
    }
    
    #nav > li:first-child{
        display: inline-block;
    }

   
    #nav .subnav  {
        position: initial;
        background-color: #333;
    }
    
    #nav .subnav a {
        color: #fff;
        padding: 5px 41px;
    }
/* 
   .content .member-item {
       margin-top: 30px;
       width: 100%;
   } */
   /* thay s-col-full mt-16 the la s- */

   .content .member-img {
       width: 60%;
   }

   .contact-form {
       margin-top: 32px;
       
   }

}